## Lists, Dictionaries and Sets in Python

## Part 1

### Lists in Python

Sequences in Python are data structures that hold objects in an ordered array. Now, we will work on Lists, the most common sequence data types in Python.

In [1]:
#Example 
l1 = ['learning', "Python", 'is fun?', True]
print(l1)

['learning', 'Python', 'is fun?', True]

List can also be created by using list() function.

In [2]:
#Example
l2 = list(("learning", "for", "life", True))
print(l2)

['learning', 'for', 'life', True]

### Question: 1
##### Adding to an existing list
Add 10 to list l1 given above.

[ **Hint:** Use **append** ]

In [3]:
l1.append(10)    # Append a number = 10 to list l1.

In [4]:
l1

['learning', 'Python', 'is fun?', True, 10]

### Question 2
##### Removing from an existing list
Remove 10 from l1.

[ **Hint:** Use **remove** ]

In [5]:
# Removes a given object from the list. It does not return any value.
# It returns ValueError when the passed object is not present in the list.
l1.remove(10)

In [6]:
l1

['learning', 'Python', 'is fun?', True]

### Question 3

Join list l1 and list l2

[ **Hint:** Use **+ operator or extend** ]

In [7]:
l1

['learning', 'Python', 'is fun?', True]

In [8]:
l2

['learning', 'for', 'life', True]

In [9]:
l1+l2    # Use of "+"" operator can easily add the whole of one list behind the other list and hence perform the concatenation.

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

In [10]:
l1.extend(l2)
print(l1)

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

### Question 4

Find Range and Mean of l3.

l3 = [2,4,6,8]

[ **Hint:**  Use **len(),sum(), min(), max()** ]
 
If you want to use standard functions like mean & range, you have to import them from numpy else you can calculate them the traditional way using formulas

Mean and range can be found either by applying formulas mean and range

In [11]:
l3 = [2,4,6,8]   # Create list l3.

In [12]:
sum(l3)    # Sums up the numbers in the list.

20

In [13]:
print("Mean:",sum(l3)/len(l3))    # calculate mean/average of list by using sum and len functions.

Mean: 5.0

In [14]:
min(l3)    # Returns the minimum value of a list.

2

In [15]:
max(l3)    # Returns the maximum value of a list.

8

In [16]:
print("Range:",max(l3)-min(l3))

Range: 6



### Question 5
Count the occurrences of an element in a given list.

Append the given sequence of numbers [0,1,3,3,5,5,7,9] to list l3 (given above) and Count the occurrences of 5 in list l3.

[ **Hint:** Use **+ operator to add multiple elements in the array and count() function to print the occurrences** ]

In [17]:
l3.sort(reverse = True)    # This function can be used to sort a list in ascending, descending or user defined order.
print(l3)

[8, 6, 4, 2]


### Question 6
Sorting and Reversing a list

sort and print list l3(given above) in ascending and descending order 

[ **Hint:** Use **.sort() function** ]

In [18]:
def sum_3(a,b,c): 
    d = a+b+c 
    return d

In [19]:
sum_3(2,3,5)

10

## Functions

**Example:**

**def** function_name(args)**:**
    
    function code goes here

### Question 7

Define a function with name **sum_3** which can take 3 numbers as input, and returns the sum of them

In [20]:
# The syntax of lambda function is :
#     lambda arguments: expression
f = lambda x,y,z: x+y+z     # Here arguments are x, y, z and the expression to calculate is x+y+z.

In [21]:
f(1,2,3)

6

## Lambda Functions

Anonymous functions or no name functions, which can be considered when you use a function only once.

**Example:**

f = lambda x, y : x + y

f(1,1)

2

### Question 8

Write the above **sum_3** function using lambda.

In [22]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List Comprehension:

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable or to create a subsequence of those elements that satisfy a certain condition.

For example, assume we want to create a list which contains squares of each number in the range 1-10.

In [23]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Question 9

Convert the elements (which are integers) of the list **squares** to string type using list comprehension.

[**Hint:** use **str()**]

In [24]:
# List comprehension offers a versatile way to handle list manipulations tasks easily.
# Converting integers to string 

L = [str(c) for c in squares]
L

['0', '1', '4', '9', '16', '25', '36', '49', '64', '81']

### Question 10

Check the data-type of each element of the list used in the previous question using list comprehension.

In [25]:
# Check the data-type of each element of the list.
[type(item) for item in L]

[str, str, str, str, str, str, str, str, str, str]

### Question 11

Print all the even numbers between 1 and 100 (both inclusive) using list comprehension.

In [26]:
even = [i for i in range(1,101) if i%2 == 0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

### Question 12

For integers between 1 and 50 (both inclusive), use list comprehension to create another list having 1 for numbers divisible by 3 and 0 otherwise.

In [27]:
list1 = [1 if i%3 == 0 else 0 for i in range(1,51)]
print(list1)

[0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0]

### Question 13

Using list comprehension, create a list of all vowels in the string **'Machine Learning'**.

In [28]:
term = 'Machine Learning'
vowels_list = [i for i in term if i in ['a','e','i','o','u']]
print(vowels_list)

['a', 'i', 'e', 'e', 'a', 'i']

### Question 14

Using list comprehensions, count the number of characters in each word in the string: **"great learning is a great platform to learn about data science as it has great faculty and content"**

[ **Hint**: You can use the **split()** function to split a string by whitespace]

In [29]:
sentence = 'great learning is a great platform to learn about data science as it has great faculty and content.'
count = [len(i) for i in sentence.split()]
print(count)

[5, 8, 2, 1, 5, 8, 2, 5, 5, 4, 7, 2, 2, 3, 5, 7, 3, 8]

### Question 15

Count the frequency of 'great' in the above string.

In [30]:
great = [word for word in sentence.split() if word == 'great']
print(len(great))

3