# LOOPING STATEMENTS EXERCISE

---------------

### 1.Print -10 to -1 using for loop

In [5]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### 2.Using while loop print numbers 1 to 10

In [8]:
count = 1

while count<=10: 
    print(count)
    count=count+1

1
2
3
4
5
6
7
8
9
10

### 3.Using for loop print first ten even numbers

In [10]:
for i in range(2,21,2):
    print(i)
#use loop first 20 and check with if condition


for i in range(1,21,1):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
2
4
6
8
10
12
14
16
18
20

### 4.Using while loop generate the table of 5

In [11]:
key = 0;

while key <= 10 :
    print(f"{key}*5={key*5}")
    key=key+1

0*5=0
1*5=5
2*5=10
3*5=15
4*5=20
5*5=25
6*5=30
7*5=35
8*5=40
9*5=45
10*5=50

### 5.Using for loop generate the table of 8

In [12]:
for key in range(0,11,1):
       print(f"{key}*8={key*8}")

0*8=0
1*8=8
2*8=16
3*8=24
4*8=32
5*8=40
6*8=48
7*8=56
8*8=64
9*8=72
10*8=80

### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
### If a number is divisible by 5, then print Buzz.
### If a number is divisible by 3 and 5 both, then print FizzBuzz
### If a number is neither divisible by 3 or 5, just print the number.

Hint: use range(1,101) function  to generate numbers from 1 to 100

In [14]:
for i in range(1,101,1):
    if i%3==0 and i%5==0:
        print(f'{i} FizzBuzz')
    elif i%5==0:
        print(f'{i} Buzz')
    elif i%3==0:
        print(f'{i} Fizz')    
    else:
        print(f'{i}')

1
2
3 Fizz
4
5 Buzz
6 Fizz
7
8
9 Fizz
10 Buzz
11
12 Fizz
13
14
15 FizzBuzz
16
17
18 Fizz
19
20 Buzz
21 Fizz
22
23
24 Fizz
25 Buzz
26
27 Fizz
28
29
30 FizzBuzz
31
32
33 Fizz
34
35 Buzz
36 Fizz
37
38
39 Fizz
40 Buzz
41
42 Fizz
43
44
45 FizzBuzz
46
47
48 Fizz
49
50 Buzz
51 Fizz
52
53
54 Fizz
55 Buzz
56
57 Fizz
58
59
60 FizzBuzz
61
62
63 Fizz
64
65 Buzz
66 Fizz
67
68
69 Fizz
70 Buzz
71
72 Fizz
73
74
75 FizzBuzz
76
77
78 Fizz
79
80 Buzz
81 Fizz
82
83
84 Fizz
85 Buzz
86
87 Fizz
88
89
90 FizzBuzz
91
92
93 Fizz
94
95 Buzz
96 Fizz
97
98
99 Fizz
100 Buzz

### 7.  Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

In [17]:
grandTotal=0
for i in range(1,101,1):
    grandTotal=grandTotal+i
print(f'grandTotal:{grandTotal}')

grandTotal:5050

### 8. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

In [18]:
for i in range(202,321,1):
    if i%7==0 and not i%5==0:
        print(i)

203
217
224
231
238
252
259
266
273
287
294
301
308

### 9. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

In [21]:
st='Data Science'
count = 0

for i in st:
    if(i.lower()=='a' or i.lower()=='e' or i.lower()=='i' or i.lower()=='o' or i.lower()=='a'):
        count=count+1
print(f'Total Voweles in input string {st} is {count}')

Total Voweles in input string Data Science is 5

### 10. Print Data Science 5 times using for loop

In [24]:
st='Data Science'

for i in range(1,6,1):
    print(st)

Data Science
Data Science
Data Science
Data Science
Data Science