In [2]:
import numpy as np
import pandas as pd

In [79]:
df7 = pd.DataFrame({"customer":[101,102,103,104],
                   "category":['A','B','C','D'],
                    "important":['Y','Y','N',None],
                    "sales":[10.00,15.21,1,2],
                   })

df8 = pd.DataFrame({"customer":[101,102,105,106],
                   "colour":['red','green','red','blue'],
                    "distance":[10,12,15.0,20],
                    "sales":[20.00,10,15.50,20.20],
                   })
print('\n\ndf7')
print()
print(df7)
print('\n\ndf8')
print()
print(df8)

df7

   customer category important  sales
0       101        A         Y  10.00
1       102        B         Y  15.21
2       103        C         N   1.00
3       104        D      None   2.00


df8

   customer colour  distance  sales
0       101    red      10.0   20.0
1       102  green      12.0   10.0
2       105    red      15.0   15.5
3       106   blue      20.0   20.2

In [4]:
##data by columns
df8['colour']

0      red
1    green
2      red
3     blue
Name: colour, dtype: object

In [5]:
df8['colour'].unique()

array(['red', 'green', 'blue'], dtype=object)

In [6]:
for i in df8['colour']:
    print(i)

red
green
red
blue

In [8]:
for i in df8['colour'].unique():
    print(i)

red
green
blue

In [31]:
df8['colour'].value_counts()

red      2
blue     1
green    1
Name: colour, dtype: int64

In [27]:
for i, row in df8['colour'].iteritems():
    print(i,row)

0 red
1 green
2 red
3 blue

In [37]:
# printing colours and count using loop.
for idx, name in enumerate(df8['colour'].value_counts().index.tolist()):
    print('Colour idx :', idx)
    print('Colour Key :', name)
    print('Counts :', df8['colour'].value_counts()[idx])

Colour idx : 0
Colour Key : red
Counts : 2
Colour idx : 1
Colour Key : blue
Counts : 1
Colour idx : 2
Colour Key : green
Counts : 1

In [39]:
#mean avg example 

df8.mean()

customer    103.500
distance     14.250
sales        16.425
dtype: float64

In [40]:
#get columns

df8.columns

Index(['customer', 'colour', 'distance', 'sales'], dtype='object')

In [42]:
df8

   customer colour  distance  sales
0       101    red      10.0   20.0
1       102  green      12.0   10.0
2       105    red      15.0   15.5
3       106   blue      20.0   20.2

In [48]:
#generate new df using condtions on exising data frame 

new_df = df8[(df8['customer']!=105) & (df8['colour']!='green')]
new_df

   customer colour  distance  sales
0       101    red      10.0   20.0
3       106   blue      20.0   20.2

In [49]:
df8['sales'].mean()

16.425

In [50]:
df8['sales'].min()

10.0

In [53]:
def profit(s):
    return s*0.5

In [54]:
df8['sales'].apply(profit)

0    10.00
1     5.00
2     7.75
3    10.10
Name: sales, dtype: float64

In [55]:
df8['sales'].apply(profit).mean()

8.2125

In [57]:
df8['colour'].apply(len)

0    3
1    5
2    3
3    4
Name: colour, dtype: int64

In [61]:
df8['colour'].apply(reversed)

0    <reversed object at 0x7f8e086d6130>
1    <reversed object at 0x7f8e086d60a0>
2    <reversed object at 0x7f8e0d74b550>
3    <reversed object at 0x7f8e0d74b220>
Name: colour, dtype: object

In [66]:
#apply functions on multuple columns 

df8[['sales','distance']]

   sales  distance
0   20.0      10.0
1   10.0      12.0
2   15.5      15.0
3   20.2      20.0

In [69]:
df8[['sales','distance']].applymap(profit)

   sales  distance
0  10.00       5.0
1   5.00       6.0
2   7.75       7.5
3  10.10      10.0

In [70]:
df8[['sales','distance']].apply(sum)

sales       65.7
distance    57.0
dtype: float64

In [74]:
def col_sum(col):
    return sum(col)
df8[['sales','distance']].apply(col_sum)

sales       65.7
distance    57.0
dtype: float64

In [76]:
df8.columns

Index(['customer', 'colour', 'distance', 'sales'], dtype='object')

In [82]:
del df8['colour']

In [83]:
df8

   customer  distance  sales
0       101      10.0   20.0
1       102      12.0   10.0
2       105      15.0   15.5
3       106      20.0   20.2

In [84]:
df8.index

RangeIndex(start=0, stop=4, step=1)

In [87]:
df8.sort_values(by='distance',ascending=False)

   customer  distance  sales
3       106      20.0   20.2
2       105      15.0   15.5
1       102      12.0   10.0
0       101      10.0   20.0

In [90]:
# Create data frame for sales 

mydict = {'customer':['c1','c1','c2','c3','c2','c3'],
          'product1':[1,1,2,1,1,1],
          'product2':[2,1,2,2,1,3]}


#print(mydict)

df6 = pd.DataFrame(mydict, index=['p1','p2','p3','p4','p5','p6'])

df6

   customer  product1  product2
p1       c1         1         2
p2       c1         1         1
p3       c2         2         2
p4       c3         1         2
p5       c2         1         1
p6       c3         1         3

In [93]:
grouped_data = df6.groupby('customer')
print(grouped_data)

         product1                                           product2       \
            count mean       std  min   25%  50%   75%  max    count mean
customer
c1            2.0  1.0  0.000000  1.0  1.00  1.0  1.00  1.0      2.0  1.5
c2            2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0      2.0  1.5
c3            2.0  1.0  0.000000  1.0  1.00  1.0  1.00  1.0      2.0  2.5


               std  min   25%  50%   75%  max
customer
c1        0.707107  1.0  1.25  1.5  1.75  2.0
c2        0.707107  1.0  1.25  1.5  1.75  2.0
c3        0.707107  2.0  2.25  2.5  2.75  3.0

In [96]:
grouped_data.describe()

         product1                                           product2       \
            count mean       std  min   25%  50%   75%  max    count mean
customer
c1            2.0  1.0  0.000000  1.0  1.00  1.0  1.00  1.0      2.0  1.5
c2            2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0      2.0  1.5
c3            2.0  1.0  0.000000  1.0  1.00  1.0  1.00  1.0      2.0  2.5


               std  min   25%  50%   75%  max
customer
c1        0.707107  1.0  1.25  1.5  1.75  2.0
c2        0.707107  1.0  1.25  1.5  1.75  2.0
c3        0.707107  2.0  2.25  2.5  2.75  3.0

In [97]:
grouped_data.mean()

          product1  product2
customer
c1             1.0       1.5
c2             1.5       1.5
c3             1.0       2.5

In [98]:
grouped_data.min()

          product1  product2
customer
c1               1         1
c2               1         1
c3               1         2