In [2]:
import numpy as np
import pandas as pd


df7 = pd.DataFrame({"customer":[101,102,103,104],
                   "category":['A','B','C','D'],
                    "important":['Y','Y','N',None],
                    "sales":[10.00,15.21,1,2],
                   })

df8 = pd.DataFrame({"customer":[101,102,105,106],
                   "colour":['red','green','red','blue'],
                    "distance":[10,12,15.0,20],
                    "sales":[20.00,10,15.50,20.20],
                   })
print('\n\ndf7')
print()
print(df7)
print('\n\ndf8')
print()
print(df8)

df7

   customer category important  sales
0       101        A         Y  10.00
1       102        B         Y  15.21
2       103        C         N   1.00
3       104        D      None   2.00


df8

   customer colour  distance  sales
0       101    red      10.0   20.0
1       102  green      12.0   10.0
2       105    red      15.0   15.5
3       106   blue      20.0   20.2

In [3]:
df8

   customer colour  distance  sales
0       101    red      10.0   20.0
1       102  green      12.0   10.0
2       105    red      15.0   15.5
3       106   blue      20.0   20.2

In [5]:
df8.to_csv('df8_with_index.csv', index=True) # saves in dex columns also
df8.to_csv('df8_without_index.csv', index=False)

In [11]:
#loading csv files

new_df8 = pd.read_csv('df8_with_index.csv',index_col=0)
new_df8

   customer colour  distance  sales
0       101    red      10.0   20.0
1       102  green      12.0   10.0
2       105    red      15.0   15.5
3       106   blue      20.0   20.2

In [12]:
# saving and loading xls 

df8.to_excel('df8_without_index.xlsx', index=False,sheet_name='first_sheet')
df8.to_excel('df8_with_index.xlsx', index=True,sheet_name='first_sheet')

In [18]:
new_df8 = pd.read_excel('df8_with_index.xlsx',sheet_name='first_sheet',index_col=0)
new_df8

   customer colour  distance  sales
0       101    red        10   20.0
1       102  green        12   10.0
2       105    red        15   15.5
3       106   blue        20   20.2