In [32]:
s= 'hello how are you you you how'

s[::-1]

'woh uoy uoy uoy era woh olleh'

In [12]:
s[:3]

'hel'

In [33]:
mylist = s.split(" ")
mylist

['hello', 'how', 'are', 'you', 'you', 'you', 'how']

In [18]:
mylist[::-1]

['you', 'are', 'how', 'hello']

In [23]:
nest =[1,2,[3,4,[5]],[5,6,7]]

In [20]:
nest[::-1]

[[3, 4, [5, 6, 7]], 2, 1]

In [24]:
for i in nest:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'list'>
<class 'list'>

In [34]:
mylist.sort(reverse=True)
mylist

['you', 'you', 'you', 'how', 'how', 'hello', 'are']

In [35]:
set(mylist)

{'are', 'hello', 'how', 'you'}

In [43]:
out = [num**2 for num in range(1,11,1) if num % 2==0 ]
out

[4, 16, 36, 64, 100]

In [46]:
cube = lambda num : num**3
cube(3)

27

In [49]:
mylist = list(range(1,11,1))
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
## map mapping all values in a seq to a function

cubelist = list(map(cube, mylist))
cubelist

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [53]:
## filter values 
isEven = lambda num : num%2==0
list(filter(isEven, cubelist))

[8, 64, 216, 512, 1000]