In [1]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [6]:
df_obj = DataFrame({
    'fruit':['apple','apple','apple','grape','grape','grape','pear','pear','pear'],
     'color':['red','green','pink','red','black','green','yellow','green','gold']
})

df_obj

   fruit   color
0  apple     red
1  apple   green
2  apple    pink
3  grape     red
4  grape   black
5  grape   green
6   pear  yellow
7   pear   green
8   pear    gold

In [18]:
df_obj.groupby(df_obj['color']).count().sort_values(by='fruit', ascending=False) ## group by data

        fruit
color
green       3
red         2
black       1
gold        1
pink        1
yellow      1