In [2]:
name = None

name.isupper() //expect error

AttributeError: 'NoneType' object has no attribute 'isupper'

SyntaxError: invalid syntax (<ipython-input-4-8220f464099c>, line 1)

In [5]:
str(True)

'True'

In [13]:
bool('False')

True

In [8]:
if bool('True2') : 
    print('yes')
else:
    print('No')

yes

In [17]:
num = 123.6334

str(num)

'123.6334'

In [22]:
12  * 12

144

In [26]:


def greetings(message):
    return "Message is "+message

val = greetings('hi')
val

'Message is hi'

In [31]:
for i in range(1,10):
    i = i + 2
    print(i)

3
4
5
6
7
8
9
10
11

In [33]:
i = 0

while i<10:
    print(i)
    i=i+2

0
2
4
6
8

In [35]:
import logging
logging.info("Thread %s: starting")

In [37]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
import pandas as pd
import seaborn
data = seaborn.load_dataset("iris")
#data

In [38]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [39]:
type(data)

pandas.core.frame.DataFrame

In [40]:
data.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
73            6.1          2.8           4.7          1.2  versicolor
88            5.6          3.0           4.1          1.3  versicolor
12            4.8          3.0           1.4          0.1      setosa
5             5.4          3.9           1.7          0.4      setosa
131           7.9          3.8           6.4          2.0   virginica
77            6.7          3.0           5.0          1.7  versicolor
14            5.8          4.0           1.2          0.2      setosa
99            5.7          2.8           4.1          1.3  versicolor
83            6.0          2.7           5.1          1.6  versicolor
39            5.1          3.4           1.5          0.2      setosa