In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [4]:
data=pd.read_csv("Loan_payments_data.csv")

In [5]:
data.head()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female

In [6]:
data.shape

(500, 11)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Loan_ID         500 non-null    object
 1   loan_status     500 non-null    object
 2   Principal       500 non-null    int64
 3   terms           500 non-null    int64
 4   effective_date  500 non-null    object
 5   due_date        500 non-null    object
 6   paid_off_time   400 non-null    object
 7   past_due_days   200 non-null    float64
 8   age             500 non-null    int64
 9   education       500 non-null    object
 10  Gender          500 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 43.1+ KB

In [8]:
data.isna().sum()

Loan_ID             0
loan_status         0
Principal           0
terms               0
effective_date      0
due_date            0
paid_off_time     100
past_due_days     300
age                 0
education           0
Gender              0
dtype: int64

In [14]:
# check for any duplicate data
data[data.duplicated()]

Empty DataFrame
Columns: [Loan_ID, loan_status, Principal, terms, effective_date, due_date, paid_off_time, past_due_days, age, education, Gender]
Index: []

In [11]:
cols_cat = data.select_dtypes(['object'])
cols_cat.columns

Index(['Loan_ID', 'loan_status', 'effective_date', 'due_date', 'paid_off_time',
       'education', 'Gender'],
      dtype='object')

In [15]:
#  Prints total null value count(s) for all columns in input data frame
def print_null_info(df):
    """
    Prints total null value count(s) & % for all columns in input data frame
    """

    nullInfo = {"missing count": df.isnull().sum(), "missing %": df.isnull().mean()}
    # Creates pandas DataFrame.
    nulldata = pd.DataFrame(nullInfo)
    return nulldata[nulldata["missing count"] > 0].sort_values(
        by="missing count", ascending=False
    )


#    Prints unique value counts, top 10 value & count(s) for all category columns in input data frame
def print_category_value_counts(df, column_names):
    """
    Prints unique value counts, top 10 value & count(s) for all category columns in input data frame
    """
    print()
    for typeval, col in zip(df[column_names].dtypes, df[column_names]):
        print()
        print(f"Column name : {col} has total {df[col].nunique()} unique values")
        print()
        print(df[col].value_counts()[0:10])
        print()
        print("-" * 50)


print_null_info(data)

               missing count  missing %
past_due_days            300        0.6
paid_off_time            100        0.2

In [16]:
# counting the number of missing values per row

num_missing = data.isnull().sum(axis=1)
num_missing.value_counts()

1    400
0    100
dtype: int64

In [17]:
print_category_value_counts(data, cols_cat.columns)

Column name : Loan_ID has total 500 unique values

xqd20160045    1
xqd20160355    1
xqd20160380    1
xqd20160459    1
xqd20160494    1
xqd20160049    1
xqd20160304    1
xqd20160167    1
xqd20160127    1
xqd20160406    1
Name: Loan_ID, dtype: int64

--------------------------------------------------

Column name : loan_status has total 3 unique values

PAIDOFF               300
COLLECTION            100
COLLECTION_PAIDOFF    100
Name: loan_status, dtype: int64

--------------------------------------------------

Column name : effective_date has total 7 unique values

9/11/2016    231
9/12/2016    148
9/10/2016     46
9/14/2016     33
9/13/2016     23
9/9/2016      15
9/8/2016       4
Name: effective_date, dtype: int64

--------------------------------------------------

Column name : due_date has total 25 unique values

10/10/2016    123
9/25/2016      87
10/11/2016     69
9/26/2016      60
10/9/2016      28
10/13/2016     21
9/24/2016      17
9/27/2016      12
11/10/2016     10
9/28/2016      10
Name: due_date, dtype: int64

--------------------------------------------------

Column name : paid_off_time has total 320 unique values

9/26/2016 9:00      9
9/25/2016 9:00      9
10/10/2016 9:00     8
10/13/2016 9:00     6
9/25/2016 13:00     5
10/11/2016 16:00    5
10/10/2016 9:01     4
9/26/2016 13:00     4
10/13/2016 13:00    4
10/10/2016 16:00    4
Name: paid_off_time, dtype: int64

--------------------------------------------------

Column name : education has total 4 unique values

college                 220
High School or Below    209
Bechalor                 67
Master or Above           4
Name: education, dtype: int64

--------------------------------------------------

Column name : Gender has total 2 unique values

male      423
female     77
Name: Gender, dtype: int64

--------------------------------------------------